NUXT_SITE_URL=http://localhost:3000
NUXT_SITE_NAME="My Website"
NUXT_SITE_EMAIL="hello@mywebsite.com"

STORYBLOK_ACCESS_TOKEN=
STORYBLOK_VERSION=
STORYBLOK_SPACE_ID=

GTM_ID=

MARKER_ENABLED="false"
MARKER_ID=

BASIC_AUTH_ENABLED=