@plugin '@tailwindcss/typography';

/**
 * ----------------------
 * Base - Main
 * ----------------------
 */

html {
    scroll-behavior: smooth;
}

pre {
    width: 100%;
    overflow-x: auto;
}

body {
    font-family: var(--font-sans);
    font-size: var(--text-sm);

    @media (resolution >= 2dppx) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.dark body {
    background-color: var(--color-navy-500);
    color: var(--color-white);
}

.hexagon-clip {
    clip-path: polygon(15% 11%, 69% 0, 100% 38%, 89% 85%, 36% 98%, 0 57%);
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@utility container {
    max-width: var(--container-2xl);
    margin-inline: auto;
}

@utility container-px {
    padding-inline: calc(var(--spacing) * 6);

    @media (width >= 48rem) {
        padding-inline: calc(var(--spacing) * 20);
    }

    @media (width >= 80rem) {
        padding-inline: calc(var(--spacing) * 25);
    }

    @media (width >= 90rem) {
        padding-inline: calc(var(--spacing) * 2);
    }
}

@utility grid-layout {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--spacing) * 2);

    @media (width >= 48rem) {
        gap: 0.88rem;
    }

    @media (width >= 80rem) {
        gap: calc(var(--spacing) * 4);
    }

    @media (width >= 90rem) {
        gap: calc(var(--spacing) * 5);
    }
}

button:not(:disabled) {
    cursor: pointer;
}

.p-default {
    padding: calc(var(--spacing) * 2);
}

.p-c-default {
    padding-block: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2);
}

.card-border {
    border-left: 1px solid var(--card-b-left);
    border-top: 1px solid var(--card-b-top);
    border-right: 1px solid var(--card-b-right);
    border-bottom: 1px solid var(--card-b-bottom);
}
video {
    max-height: 70svh;
}
