/* --------------------------------------------
VARS AND RE-USABLE CLASSES
-------------------------------------------- */

.page.page-leave-active,
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-absolute-enter-active,
.fade-absolute-leave-active {
    transition: opacity 0.5s ease;
    position: absolute;
    left: 0;
    top: 0;
}

.fade-absolute-enter-from,
.fade-absolute-leave-to {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
