## This workflow is used to draft the release notes based on the pull request changes.
## The reusable workflow is defined in the effect-digital/organisation repository.
## Nothing else is needed, other than having this file in your .github/workflows directory.

name: Release Drafter

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]
    branches-ignore:
      - docs/**

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    uses: effect-digital/organisation/.github/workflows/release-drafter.yml@main
